<h1>Oh No! We can't tell if you're at this location or not.</h1>
<div>Make sure that the location service on your phone is turned on.</div>
<div>If you have an iPhone, go to <b>Settings -> Privacy -> Location Services -> 'ON' for your web browser (Safari, Chrome, etc.)</b></div>
<br>
<div style="text-align:center;"><%= link_to "Back to Menu", root_path, class:"btn btn-primary", style:"color:white;"%></div>