<div style="padding: 100px;">
<h1><%= @location.name %> is saying...</h1>

<%= render @location.posts %>

<br>
<%= render 'posts/form' %>
<br>
<%= link_to "Logout :(", current_user, method: :delete, data: { confirm: "you sure?"}, class: "btn btn-danger" %>
</div>
